.app-header
  align-items: flex-end
  display: flex
  font-size: 0.75rem
  padding: 1rem 1rem 1rem 0.5rem
  
  .app-title
    color: $dark-grey
    font-family: $title-font
    
    svg  //To be replaced with the proper Liberating the Liberator logo
      display: inline-block
      height: 1rem
      margin-right: 0.5em
      vertical-align: middle
    
    h1  //To be rendered invisible, or removed altogether
      display: inline-block
      font-size: 1.2rem
      font-style: italic
      font-weight: bold
      margin: 0
      padding: 0
      vertical-align: middle

  nav
    align-items: center
    display: flex
    flex: 1 1 auto
    font-size: 0.75rem
    justify-content: flex-end
    
    .link
      flex: 0 0 auto
      color: $dark-grey
      padding: 0.5em 1em
      letter-spacing: (0.9/15)em
      margin-left: 1em
      
      &:hover
        background: $dusty-green
        color: $white
        
  .login-button, .logout-button
    font-size: 0.8em
    flex: 0 0 auto
    padding: 0.5em 0 0.5em 1em
    display: inline-block

    span
      display: inline-block
      background: $dark-grey
      color: $white
      padding: 0.5em 1em
      margin-right: 0.5em
      
    button
      background: $dusty-green
      border: none
      border-radius: 1em
      color: $white
      padding: 0.5em 1em
