#root
  min-height: 100vh

#root > div
  display: flex
  flex-direction: column
  min-height: 100vh

main
  flex: 1 1 auto

.project-background
  background: url('../images/main-bg.jpg') no-repeat center center
  background-size: cover
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0
  z-index: -1
