.beta-top-banner  //BETA_ONLY
  background-color: $teal
  color: white
  height: auto
  font-family: 'Karla', sans-serif
  font-size: 0.5em
  text-align: center
  padding: 0.5em

  h2
    margin: 0

.popup.beta-popup-sign-in-prompt  //BETA_ONLY
  z-index: 100  //Place the prompt above the ZRC Tutorial.
  
  .popup-content
    padding: 2em
    
    .button
      width: 240px
      display: block
      margin: 1em auto 0 auto

  .continue
    font-size: 0.8em
    display: block
    text-align: center
    margin: 1.5em auto 0 auto
    
    &:hover
      text-decoration: underline