@import "font-groups.styl"

.notification
  background-color: $red-orange
  color: white
  font-family: $oswald
  font-size: 0.8em
  font-weight: 300
  letter-spacing: 0.1em
  height: 2em
  padding: 0.25em
  text-align: center
  text-transform: uppercase

  button
    @extend .instructions
    background-color: transparent
    border: none
    color: white
    font-size: 0.7em
    text-transform: inherit

.subject-viewer-container
  display: flex

.classifier-page
  padding: 1rem 0

  .project-background
    background-color: $sandy
    background-image: none

  h2
    @extend .secondary-head
    display: inline
    font-weight: 600
    letter-spacing: 0.2em

  p
    margin-top: 0

  .help-pane
    @extend .body-copy
    display: flex
    flex-direction: column
    padding: 0 1.5rem 0 4rem
    width: 14rem

    h2
      font-size: 0.75em

    p
      font-size: 0.75em
      line-height: 1.5em

    .active-crop
      background-color: $red-orange

    .help-buttons
      font-family: $sans-font

      .divider
        width: 8em

      .button
        font-size: (12/20)rem
        margin-bottom: 1em
        width: 100%

      hr
        margin-bottom: 1em
        width: 40%

  .classifier-controls
    display: flex
    flex-direction: column
    font-size: (12/20)rem
    letter-spacing: (2/12)em
    padding: 0 1rem
    width: 10rem

    .divider
      margin: 1em 0
      width: 12em

    .classifier-toolbar
      margin-top: 1em

      > .block
        display: flex
        flex-direction: row
        letter-spacing: 0.1em
        margin: 0.2rem 0
        padding: 0.5em
        text-align: left

        &:hover, &:focus, &.selected
          background: $white
          border-radius: 2em

        &.selected
          color: $red-orange

        i
          display: inline
          font-size: 1rem

        .disable-icon
          color: $light-grey

        span
          align-self: center
          margin-right: 0.75rem

      &__icon
        text-align: center
        width: 1.2rem

        .grey
          color: $light-grey

.navigator-viewer
  margin-bottom: 1em

  svg
    background: $light-grey
    padding: 1em

.admin-override
  align-items: center
  display: flex
  margin-top: auto

  span
    margin-left: 0.5em

.gold-standard
  color: goldenrod
