@import "font-groups.styl"

.classifier-page
  padding: 1rem 0

  h2
    @extend .secondary-head
    display: inline
    font-weight: 600
    letter-spacing: 0.2em

  p
    margin-top: 0

  .help-pane
    @extend .body-copy
    display: flex
    flex-direction: column
    padding: 0 1.5rem 0 4rem
    width: 14rem

    h2
      font-size: 0.75em

    p
      font-size: 0.75em
      line-height: 1.5em

    .help-buttons
      font-family: $sans-font
      margin-top: auto

      .button
        font-size: (12/20)rem
        margin-bottom: 1em
        width: 100%

      hr
        margin-bottom: 1em
        width: 40%

  .classifier-controls
    display: flex
    flex-direction: column
    font-size: (12/20)rem
    letter-spacing: (2/12)em
    margin: 0 1rem
    width: 10rem

    .divider
      margin-left: 0

    .classifier-toolbar
      > .block
        display: flex
        letter-spacing: 0.15em
        margin: 0.8rem 0
        text-align: left

        &.selected
          background: $forest-green  //TMP
          color: $white

        i
          font-size: 1rem

        span
          align-self: center
          margin-right: 0.75rem

      &__icon
        text-align: center
        width: 1.2rem

.navigator-viewer

  svg
    background: $light-grey
    padding: 1em
