.classifier-page
  display: flex
  flex-direction: row
  padding: 1rem 0

  .classifier-divider
    margin: 1.5em 0

  h2
    color: $black
    display: inline
    font-family: $secondary-font
    font-size: 1.15em
    font-weight: 700
    letter-spacing: 0.15rem
    margin: 0
    text-transform: uppercase

  .help-pane
    display: flex
    flex-direction: column
    font-size: (12/20)rem
    letter-spacing: 0.05em
    width: 14rem
    padding: 0 1.5rem 0 4rem

    .help-directions
      p
        font-family: $body-font
        font-size: 1.25em
        margin-top: 0.25em

    .help-buttons
      margin-top: auto

      .button
        font-size: (12/20)rem
        margin-bottom: 1em
        width: 100%

      hr
        margin-bottom: 1em
        width: 40%

  .subject-viewer
    display: flex
    flex: 1 1 auto
    flex-direction: column

    .subject-images
      display: flex
      flex: 1 1 auto
      flex-direction: row

      .subject-image
        background: $background-grey
        flex: 0 0 100%

  .classifier-controls
    display: flex
    flex-direction: column
    font-size: (12/20)rem
    letter-spacing: (2/12)em
    margin: 0 1rem
    width: 10rem

    .classifier-divider
      width: 9em

    .classifier-toolbar
      > div
        display: flex
        flex-direction: row
        margin: 0.8rem 0

        i
          font-size: 1rem

        span
          align-self: center
          margin-right: 0.75rem

      &__icon
        text-align: center
        width: 1.2rem

    .classifier-navigator
      display: flex
      flex-direction: column
      margin-bottom: 1rem

      img
        width: 9em
