@import "font-groups.styl"

.classification-prompt
  margin: 1em
  font-size: 0.8em

  h2
    @extend .secondary-head

  span
    @extend .body-copy
    display: block
    margin: 3em 1em

  div
    text-align: center

  button
    margin: 1em
