.main-title
  font-family: $lincoln-font
  font-size: 3.5rem
  font-weight: 400
  letter-spacing: 0.2em
  margin: 0
  text-transform: uppercase

.secondary-head
  font-family: $playfair-display
  font-size: 1em
  font-weight: 400
  line-height: 2.25em
  letter-spacing: 0.2em
  margin: 0
  text-transform: uppercase

.secondary-head-link
  display: inline-block
  font-family: $playfair-display
  font-size: 0.75em
  font-weight: 400
  line-height: 2.25em
  letter-spacing: 0.3em
  margin: 2em 0 0 0
  text-transform: uppercase

.footnote
  display: block
  font-family: $playfair-display
  font-size: 0.5em
  font-style: italic
  font-weight: 400
  line-height: 2.25em
  letter-spacing: 0.2em
  margin: 0
  text-transform: uppercase


.secondary-conjunctions
  font-family: $playfair-display
  font-style: italic
  font-size: 1rem
  font-weight: 400
  line-height: 35.34px
  letter-spacing: 4.14px
  text-transform: lowercase

.body-copy
  font-family: $cormorant-font
  font-size: 1em
  line-height: 1.75em

.body-copy-first-word
  font-family: $playfair-display
  font-size: 14px
  letter-spacing: 2px
  text-transform: uppercase

.text-links
  font-family: $playfair-display
  font-weight: bold
  font-size: 16px
  line-height: 35.34px
  letter-spacing: 3.52px

.instructions
  font-family: $playfair-display
  font-style: italic
  font-size: 1em
  line-height: 1.75em
  letter-spacing: 0.32px
