@import "font-groups.styl"

.home-page
  .transcribe
    @extend .secondary-head
    font-weight: 600
    margin: 0.5em 0

  .secondary-head
    font-size: 1.35em

  &__content
    display: flex
    flex-direction: column
    padding: 0 2em 5em 2em
    text-align: center

    h1
      word-wrap: break-word

      @media(max-width: 500px)
        font-size: 3em

  &__progress-bar
    background: $light-eggplant
    display: flex
    flex-wrap: nowrap
    height: 2em
    width: 100%

    .completed
      background: $eggplant
      color: white
      font-family: $sans-font
      font-size: 0.8em
      text-align: right

      span
        margin: 0.5em

  &__body-text
    @extend .body-copy
    columns: 2
    margin: 0 22% 4em 22%
    text-align: left

    @media(max-width: 500px)
      columns: 1

  &__topic-select
    flex-wrap: wrap
    justify-content: center
    margin: 0.75em 0

    > div
      @extend .secondary-head
      padding: 0 1em

    > div:not(:first-child):not(:last-child)
      border-left: 1px solid black

      @media(max-width: 500px)
        border-left: none

    > div:nth-child(4)
      border-right: 1px solid black

      @media(max-width: 500px)
        border-right: none

    span
      font-weight: 600

  &__logos
    align-items: center
    background: white
    justify-content: center
    flex-wrap: wrap

    img, svg
      margin: 4em 2em
      max-height: 4em

  &__social-section
    background: $sandy
    padding: 5em
    text-align: center

    h2 i
      @extend .secondary-conjunctions
      display: inline-block
      font-size: 1.75rem
      margin: 0 0 0.5em 0.5em
      padding-bottom: 0.05em
      vertical-align: middle

    span
      display: block
      margin: 1em 0

    @media(max-width: 900px)
      padding: 2em

      h2
        font-size: 2.25em

      h2 i
          font-size: 0.5em

  &__subject-row
    flex-wrap: wrap
    justify-content: center
    margin: 2em 0 4em 0

    div
      border: 15px solid white
      flex: 1
      height: 14em
      max-width: 18em
      min-width: 10em

    img
      width: 100%
      height: 100%
      object-fit: cover

  &__social-content
    flex-wrap: wrap
    margin: 1em -0.5em
    text-align: left

    .main-title
      font-size: 2rem

      @media(max-width: 700px)
        font-size: 1rem

    > div
      background: white
      flex: 1
      margin: 1em
      max-width: 100%
      min-width: 15em

    > div:first-child
      padding: 2em

    span
      @extend .body-copy

  &__project-stats
    background: white
    flex-wrap: wrap
    margin-top: 2em
    padding: 2em
    text-align: left

    > div:first-child
      flex: 5 1 20em
      max-width: 100%
      padding-right: 2em

    .main-title
      font-size: 2rem

    .secondary-head
      font-size: 0.8em
      font-weight: 600

  &__numbers
    border-left: 1px solid $light-grey
    flex-wrap: wrap
    flex: 3 1 10em
    display: flex
    padding-left: 2.5em

    @media(max-width: 650px)
      border-left: none

    div:nth-child(odd)
      margin-right: 1em

    span
      margin: auto 0

    div
      display: flex
      flex-direction: column
      min-height: 50%

      span:nth-child(even)
        line-height: 1.5em

      p
        font-size: 2.25em
        margin: 0.25em 0

  &__news-section
    .social-bar
      align-items: center
      background: $light-eggplant
      display: flex
      flex-direction: column
      justify-content: space-around
      max-width: 3em

      i
        color: white
        margin: 0.5em 0.8em

      div
        margin: 0 !important

    div:nth-child(2)
      padding: 2em

  &__zooniverse
    background: $black
    color: $white
    display: flex
    flex-direction: column
    padding: 2em 22%
    text-align: center

    .zooniverse-logo
      color: $light-teal
      margin: 0 auto 2.25em auto

    span
      @extend .secondary-head
      color: $light-grey
      letter-spacing: 0.12em
      font-size: 0.8em
      line-height: 1.7em

    a
      @extend .text-links
      color: $white
      font-weight: 400
      margin-top: 2em

  .project-background
    background-image: url('../images/home-bg.jpg')
