@import "font-groups.styl"

.home-page
  .transcribe
    @extend .secondary-head
    font-weight: 600
    margin: 0.5em 0

  .secondary-head
    font-size: 1.35em

  &__content
    display: flex
    flex-direction: column
    padding-bottom: 5em
    text-align: center

  &__progress-bar
    background: $light-eggplant
    display: flex
    flex-wrap: nowrap
    height: 2em
    width: 100%

    .completed
      background: $eggplant
      color: white
      font-family: $sans-font
      font-size: 0.8em
      text-align: right

      span
        margin: 0.5em

  &__body-text
    @extend .body-copy
    columns: 2
    margin: 0 22% 4em 22%
    text-align: left

  &__topic-select
    justify-content: center
    margin: 0.75em 0

    > div
      @extend .secondary-head
      padding: 0 1em

    > div:not(:first-child):not(:last-child)
      border-left: 1px solid black

    > div:nth-child(3)
      border-right: 1px solid black

    span
      font-weight: 600

  &__logos
    align-items: center
    background: white
    justify-content: center
    padding: 4em

    img
      max-height: 4em
      padding-left: 5em

  &__social-section
    background: $sandy
    padding: 5em
    text-align: center

    .secondary-conjunctions
      font-size: 1.75rem
      vertical-align: middle

    span
      display: block
      margin: 1em 0

  &__subject-row
    justify-content: center

    div
      border: 15px solid white
      height: 14em
      margin: 2em 0 4em 0
      width: 18em

  &__social-content
    margin: 2em 0
    text-align: left

    .main-title
      font-size: 2rem

    div
      background: white
      flex: 1

    > div:first-child
      padding: 2em

    span
      @extend .body-copy

  &__project-stats
    background: white
    margin: 2em 0
    padding: 2em
    text-align: left

    > div:first-child
      flex: 5
      padding-right: 2em

    div:nth-child(2)
      flex: 2

    .main-title
      font-size: 2rem

    .secondary-head
      font-size: 0.8em
      font-weight: 600

  &__numbers
    border-left: 1px solid $light-grey
    columns: 2
    padding-left: 2.5em

    div
      display: flex
      flex-direction: column
      height: 100%

      span:nth-child(even)
        line-height: 1.5em

      p
        font-size: 2.25em
        margin: 0.25em 0

  &__news-section
    margin-left: 2em

    .social-bar
      align-items: center
      background: $light-eggplant
      display: flex
      flex-direction: column
      max-width: 3em

      i
        color: white
        margin: 0.5em 0.8em

    div:nth-child(2)
      padding: 2em

  &__zooniverse
    background: $black
    color: $white
    display: flex
    flex-direction: column
    padding: 2em 22%
    text-align: center

    svg
      color: $light-teal
      margin: 0 auto 2.25em auto

    span
      @extend .secondary-head
      color: $light-grey
      letter-spacing: 0.12em
      font-size: 0.8em
      line-height: 1.7em

    a
      @extend .text-links
      color: $white
      font-weight: 400
      margin-top: 2em

  .project-background
    background-image: url('../images/home-bg.jpg')
