@import "font-groups.styl"

.keyboard-shortcuts
  font-family: $playfair-display
  font-size: 0.8em

  h2
    margin: 0

  table
    border-collapse: collapse
    width: 100%

  td
    padding: 0.25em 0

  th
    display: inline-block
    margin: 1em 0 0.5em 0
