.popup
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.5)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch

  .popup-title
    flex: 0 0 auto
    color: $white
    margin: 10vh 25vw 0 10vw
    padding: 0.5em 1em
    text-align: right

  .popup-content
    flex: 0 1 auto
    overflow: auto
    background: $white
    color: $text-color
    margin: 0 25vw 20vh 25vw
    padding: 0.5em 1em
    border-radius: 0.25em

  button
    background: $aqua-marine
    border: none

  .close-button
    background: transparent
    color: white
