.project-header
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 1.5em 3.75em

  .main-title
    flex: 1
    font-size 1.7rem

  &__nav
    align-self: flex-start
    font-family: $playfair-display
    font-size: 0.75rem
    font-weight: 700
    margin-left: auto
    text-transform: uppercase

    @media (max-width:1060px)
      display: flex
      flex-direction: column

  &__link
    border-bottom: 2px solid transparent
    color: $dark-grey
    cursor: pointer
    display: inline-block
    flex: 0 0 auto
    letter-spacing: (0.9/15)em
    margin: 0.5rem 0rem 0rem 1.25rem

    button
      background: transparent
      border: none
      color: inherit
      padding: inherit
      text-transform: uppercase

    @media (max-width:1060px)
      margin-left: 0

    &--active, &:hover, &:focus
      border-bottom: 2px solid $eggplant
      color: $eggplant
      padding: 0

    &:first-child
      margin-left: 0
