@import "font-groups.styl"

.drag-handler
  bottom: 1px !important
  right: -3px !important

.drag-handler:before
  content: "\21F2"

.selected-annotation
  @extend .body-copy
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5)
  display: flex
  flex-direction: column
  font-size: 0.9em
  height: 100%
  overflow: hidden
  padding: 1em

  &--red
    color: $warning

  &--green
    color: $success

  h2
    letter-spacing: 0.06em

  p
    display: flex
    margin-bottom: 0

    button
      border-top: 2px solid $mid-grey
      border-right: 2px solid $mid-grey
      border-bottom: 2px solid $mid-grey
      color: $mid-grey
      width: 3em

  span
    line-height: 1.5em

  button
    background: transparent
    border: none

  input[type=text]
    border-top: 2px solid $mid-grey
    border-left: 2px solid $mid-grey
    border-bottom: 2px solid $mid-grey
    font-family: inherit
    font-size: inherit
    width: 100%
    padding: 0.5em

  &__user
    border-right: 2px solid $mid-grey

  &__previous
    border-right: none

  &__options
    display: flex
    flex-direction: column
    margin-bottom: 0.5em

    button
      background: $sandy
      border-bottom: 2px solid $mid-grey
      border-left: 2px solid $mid-grey
      border-right: 2px solid $mid-grey
      padding: 0.5em
      float: left
      font-family: $sans-font
      text-align: left

  &__markup
    display: inherit
    margin: 1em 0

    p
      text-transform: uppercase

    button
      float: left
      font-size: 0.9em
      font-family: $sans-font
      margin-left: 0.5em

  &__buttons button
      border: 1px solid $teal-blue
      float: right
      font-family: $sans-font
      margin: 1em 0 1em 1em
      padding: 0.5em 3.5em

      &:hover, &:focus
        background: $teal-blue

  &__buttons .done-button
    background-color: $aqua-marine

    &:disabled
      background-color: $light-grey
      cursor: default

.close-button
  background: transparent
  float: right
