.show-metadata
  align-items: center
  display: flex
  flex-direction: column
  margin-top: 3em
  padding: 0 2em 4em 2em

  table
    border-collapse: collapse
    table-layout: fixed

  .divider
    margin: 0.5em auto 1em auto

  h2
    @extend .secondary-head
    font-size: 0.8em
    font-weight: 600
    letter-spacing: 0.12em
    margin-bottom: 0

  td
    @extend .secondary-head
    line-height: 1.75em
    padding: 0.25em 0.75em
    word-wrap: break-word
    vertical-align: top

  td:first-child
    text-align: right
    width: 33%

  td:nth-child(2)
    letter-spacing: 0.05em
    text-transform: none

  tr
    font-size: 0.75em
