.show-metadata
  display: flex
  flex-direction: column
  padding: 2em 4em

  table
    border-collapse: collapse

  h2
    color: $dark-grey
    font-family: $sans-font
    font-size: 0.5em
    margin-bottom: 2em
    text-align: center

  td
    padding: 0.5em

  tr
    border-bottom: 1px solid $dark-grey
    font-size: 0.75em

  tr:last-child
    border-bottom: none
