.subject-viewer
  flex: 1 1 auto
  overflow: hidden
  background: #333  //TMP: visual differentiator for the Subject
  border: 1px solid #333  //TMP: Borders offer visual differentiation but may interfere with precise mathematical calculations of width.

  svg
    background: $light-grey
    border: 1px solid #fff  //TMP: Borders offer visual differentiation but may interfere with precise mathematical calculations of width.

  .related-images
    background: $mid-grey
    height: 100%
    width: 6em
    position: absolute

    div:first-child
      display: flex
      transform: rotate(-90deg) translateX(-50%) translateY(-100%)
      width: 10em

      h2
        font-size: 0.8em

    &__frames
      position: absolute
      top: 12.5em
      text-align: center
      width: 100%
      line-height: 0.8em

      div
        background: $dark-grey
        margin: 0 auto
        width: 80px

        span
          color: white
          font-size: 0.5em

//TODO: review loading and error indicators.

.svg-image-loading
  animation-name: loading-pulse
  animation-duration: 1s
  animation-direction: alternate
  animation-iteration-count: infinite

.svg-image-error
  fill: #c33
  stroke: #fff
  stroke-width: 4

@keyframes loading-pulse {
  from {
    fill: #39c
  }
  to {
    fill: #fff
  }
}
