.subject-viewer
  flex: 1 1 auto
  overflow: inherit
  background: #333  //TMP: visual differentiator for the Subject

  svg
    background: $light-grey

.tooltip
  visibility: hidden

.filmstrip-viewer
  position: relative

.cursor-move
  cursor: move

.cursor-crosshairs
  cursor: crosshair

.related-images
  background: $mid-grey
  color: #EFEBE3
  height: 100%
  overflow: hidden
  position: relative
  width: 3em

  > div:first-child
    transform: rotate(-90deg) translateX(-55%) translateY(-110%)
    width: 6em

    h2
      font-size: 0.6em

  &__frames
    line-height: 0.8em
    position: relative
    top: 6em
    text-align: center
    width: 100%

  &__frame
    background: $dark-grey
    margin: 0.5em 0.5em

    button
      background: transparent
      border: none
      font-size: 0.75em
      line-height: 0.8em
      padding: 0

    span
      color: white
      font-size: 0.5em

    &--active
      background: $red-orange

  &__frame:last-child
    margin-bottom: 1.25em

  &__top
    background: $baby-blue
    border: none
    cursor: pointer
    top: 0
    color: white
    font-size: 0.5em
    position: absolute
    width: 100%
    z-index: 1

  &__down
    background: $baby-blue
    border: none
    bottom: 0
    color: white
    cursor: pointer
    font-size: 0.5em
    position: absolute
    width: 100%

//TODO: review loading and error indicators.

.svg-image-loading
  animation-name: loading-pulse
  animation-duration: 1s
  animation-direction: alternate
  animation-iteration-count: infinite

.svg-image-error
  fill: #c33
  stroke: #fff
  stroke-width: 4

@keyframes loading-pulse {
  from {
    fill: #39c
  }
  to {
    fill: #fff
  }
}
