.home-page, .about-page
  font-size: (16/20)rem
  padding: 1rem

.button
  background: none
  border: none
  color: $white
  display: inline-block
  letter-spacing: 0.1em
  padding: 1em
  text-transform: uppercase
  
  &.with-shadow
    box-shadow: 1px 2px 0 0 $shadow-color
  
  &.icon
    padding: 0
    
  &.white-grey
    background: $white
    border: 1px solid $dusty-lavender
    color: $dusty-lavender
    
  &.white-green
    background: $white
    border: 1px solid $teal-blue
    color: $dusty-green
    
  &.green
    background: $dusty-green
    border: none
    color: $white
  
  &.dusty-lavender
    background: $dusty-lavender
    border: none
    color: $white
