.home-page, .about-page
  font-size: (16/20)rem
  padding: 1rem

.button
  background: none
  border: none
  box-shadow: 3px 3px 3px $mid-grey
  color: $white
  display: inline-block
  letter-spacing: 0.1em
  padding: 1em

  &.with-shadow
    box-shadow: 1px 2px 0 0 $shadow-color

  &.icon
    padding: 0

  &.white-red
    background: $white
    border: 1px solid $red-orange
    color: $black

    &:hover, &:focus
      background: $red-orange

  &.white-green
    background: $white
    border: 1px solid $forest-green
    color: $black

    &:hover, &:focus
      background: $forest-green

  &.green
    background: $aqua-marine
    border: none
    color: $black

    &:hover, &:focus
      background: $forest-green

  &.dusty-lavender
    background: $dusty-lavender
    border: none
    color: $white

.flat-button
  background: none
  border: none
  color: inherit
  padding: 0

.block
  display: block
