.home-page, .about-page
  font-size: (16/20)rem
  padding: 1rem

.button
  background: none
  border: none
  color: $white
  display: inline-block
  letter-spacing: 0.1em
  padding: 1em
  text-transform: uppercase

  &.with-shadow
    box-shadow: 1px 2px 0 0 $shadow-color

  &.icon
    padding: 0

  &.white-blue
    background: $white
    border: 1px solid $light-blue
    color: $black

  &.white-green
    background: $white
    border: 1px solid $leaf-green
    color: $black

  &.green
    background: $leaf-green
    border: none
    color: $white

  &.dusty-lavender
    background: $dusty-lavender
    border: none
    color: $white
