.tester-page
  font-size: 0.75rem
  background: $dark-grey
  color: $dark-grey
  
  > div
    background: $light-grey
    margin: 1em
    padding: 1em
    
  .control-panel
    border: 1px solid $teal
  
  .status-panel
    border: 1px solid $aqua-marine
  
  .data-panel
    background: $light-grey
    margin: 1em
    padding: 0
    
    td
      padding: 0.5em
      vertical-align: top
