#timeline > g .event-line
  transform: scale(1)
  transform-origin: 50% 50%
  transition: .75s

#timeline > g:hover .event-line
  transform: scale(1.25)
  transform-origin: 50% 50%
  transition: .75s

.timeline
  .footnote
    text-align: center
