.top-banner
  background-color: $teal
  color: white
  display: flex
  font-family: 'Karla', sans-serif
  font-size: 0.5em
  height: auto
  padding: 1em
  text-align: center

  button
    background-color: transparent
    border: none
    color: white
    cursor: pointer
    font-size: 1.25em

  h2
    margin: 0 auto

  a
    margin-left: 0.25rem
    text-decoration: underline

.popup.popup-sign-in-prompt
  z-index: 100  //Place the prompt above the ZRC Tutorial.

  .popup-content
    padding: 2em

    .button
      width: 240px
      display: block
      margin: 1em auto 0 auto

  .continue
    font-size: 0.8em
    display: block
    text-align: center
    margin: 1.5em auto 0 auto

    &:hover
      text-decoration: underline
