.zooniverse-header
  background: $black
  color: $pale-grey
  display: flex
  font-size: 0.5 * $unit-size
  
  a
    color: $pale-grey

  .link
    display: inline-block
    padding: 1em
    text-transform: uppercase
  
  .zooniverse-main-logo
    display: inline-block
    flex: 0 0 auto
    font-size: 0.8 * $unit-size
    padding: 0.5em
    vertical-align: bottom
    
    .zooniverse-logo
      display: block
    
  .zooniverse-links
    flex: 1 0 auto
    display: inline-block
    
  .zooniverse-account
    flex: 0 0 auto
    display: inline-block
