$teal = #007482
$text-color = #5c5c5c
$dusty-lavender = #a899a0
$teal-blue = #00979d
$beige = #f0e4db
$dusty-green = #72a475
$pale-grey = #e1e0e4
$aqua-marine = #50e3c2

$black = #111
$white = #fff
$light-grey = #eff2f5
$dark-grey = #4a4a4a
$mid-grey = #979797;
$shadow-color = rgba(0, 0, 0, 0.3)

$sans-font = "Roboto", sans-serif
$mono-font = "LeagueMono", monospace
$title-font = "Cormorant", sans-serif

$unit-size = 20px
