$teal = #007482
$text-color = #5c5c5c
$dusty-lavender = #a899a0
$teal-blue = #00979d
$beige = #f0e4db
$blueberry = #564391

$grey = #979797
$light = #ccc;

$sans-font = "Open Sans", sans-serif
$mono-font = "LeagueMono", monospace

$unit-size = 20px
