$teal = #007482
$text-color = #5c5c5c
$dusty-lavender = #a899a0
$teal-blue = #00979d
$red-orange = #E15649
$beige = #f0e4db
$dusty-green = #72a475
$leaf-green = #009b3b
$pale-grey = #e1e0e4
$aqua-marine = #3CD3BC
$forest-green = #2EA08D

$black = #111
$white = #fff
$light-grey = #eff2f5
$dark-grey = #4a4a4a
$mid-grey = #979797;
$background-grey = #333
$shadow-color = rgba(0, 0, 0, 0.3)

$sans-font = "Roboto", sans-serif
$nav-font = "Playfair Display SC", serif
$secondary-font = "Playfair Display", serif
$mono-font = "LeagueMono", monospace
$body-font = "Cormorant", sans-serif
$lincoln-font = "AbrahamLincoln", serif

$unit-size = 20px
