@font-face
  font-family: "LeagueMono"
  src: url("../fonts/LeagueMono-Light.woff")

@font-face
  font-family: "LeagueMono"
  src: url("../fonts/LeagueMono-Bold.woff")
  font-weight: bold

@font-face
  font-family: "AbrahamLincoln"
  src: url("../fonts/AbrahamLincoln.ttf") format('woff')
  src: url("../fonts/AbrahamLincoln.woff") format('truetype')
