*, *:before, *:after
  box-sizing: border-box

:root
  background: $beige
  color: $text-color
  font-size: $font-size
  font-family: $mono-font

html, body
  margin: 0
  padding: 0

a
  color: $blueberry
