*, *:before, *:after
  box-sizing: border-box

:root
  background: $beige
  color: $text-color
  font-size: $unit-size
  font-family: $mono-font

html, body
  margin: 0
  padding: 0

a
  color: $blueberry
  text-decoration: none

button
  font-size: inherit
  font-family: inherit
  cursor: pointer
