*, *:before, *:after
  box-sizing: border-box

:root
  background: $pale-grey
  color: $dark-grey
  font-family: $sans-font
  font-size: $unit-size

html, body
  margin: 0
  padding: 0

a
  color: $dusty-green
  text-decoration: none

button
  cursor: pointer
  font-size: inherit
  font-family: inherit
